main {
	padding: 10px;
	margin-bottom: 30px;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.container > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	border-radius: 5px;
	background-color: var(--white-grey);
	padding: 10px 5px;
	border: 1px solid var(--light-grey);
}

input[type="submit"] {
	border-radius: 5px;
	font-size: 2rem;
	background-color: var(--purple);
	color: var(--white);
	width: 140px;
	padding: 5px 0;
	border: none;
}

#password {
	position: relative;
}

#password > div {
	position: absolute;
	right: 5%;
	bottom: 10%;
}

.hidden {
	display: none;
}

.wrong-confirm > input {
	border: 1px solid red;
}

@media (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0 auto;
	}
}
